# 2. Cleaning the Dataset

## 2.1 Preliminar Cleaning

In [630]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from fuzzywuzzy import process
import pycountry

In [631]:
def get_data():
    
    #Importing CSV
    file_path = '/Users/mairagutierrez/Documents/Ironhack/PROJECTS/project--I/data/attacks.csv'
    
    # Try reading the file with a different encoding
    data = pd.read_csv(file_path, encoding='latin1')

    return data
    
data = get_data()
data.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [632]:
def pre_cleaning(data):
    
    #dropping columns with 99% missing values and the ones that aren't relevant for my research
    pre_cleaned_data = data.drop(columns = ['Unnamed: 22', 'Unnamed: 23', 'Case Number.1', 'Case Number.2'], axis = 1)
    
    #dropping all rows with NaN in every column
    pre_cleaned_data = pre_cleaned_data.dropna(how="all")
    
    #Remove spaces in column titles
    pre_cleaned_data.columns = pre_cleaned_data.columns.str.replace(' ','_')
    
    return pre_cleaned_data

pre_cleaned_data = pre_cleaning(data)
pre_cleaned_data.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,pdf,href_formula,href,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0

In [633]:
#New data columns names without spaces
pre_cleaned_data.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time',
       'Species_', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'original_order'],
      dtype='object')

## 2.2 Cleaning Year

In [634]:
2.2 # Casting Year data type from float to integer
pre_cleaned_data['Year'] = pre_cleaned_data['Year'].fillna(0).astype(int) 
cleaned_data = pre_cleaned_data

# Filter dataframe with data over 1900 as this is data relevant to my research
cleaned_data = pre_cleaned_data[(cleaned_data['Year'] >= 1900) & (cleaned_data['Year']<= 2018) ]
cleaned_data.head(3)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,pdf,href_formula,href,original_order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0

## 2.3 Cleaning Case Number

In [636]:
#Removing any letter at the end of the date and any spaces.
cleaned_data['Case_Number'] = cleaned_data['Case_Number'].str.strip().str.replace(r'[A-Za-z]$', '', regex=True)

# Extracting the year from the 'Case_Number' column and creating a new column 'Extracted_Year'
#cleaned_data = cleaned_data.assign(Extracted_Year=cleaned_data['Case_Number'].str[:4])

# Extracting the month from the 'Case_Number' column
cleaned_data = cleaned_data.assign(Extracted_Month=cleaned_data['Case_Number'].str.extract(r'\.(\d{2})\.'))


# Reordering columns 
cleaned_data = cleaned_data[['Case_Number','Date', 'Year','Extracted_Month','Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time','Species_', 'Investigator_or_Source', 'pdf', 'href_formula', 'href','original_order']]

cleaned_data.head(3)

,Case_Number,Date,Year,Extracted_Month,Type,Country,Area,Location,Activity,Name,...,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,pdf,href_formula,href,original_order
0,2018.06.25,25-Jun-2018,2018,06,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018,06,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,...,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018,06,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,...,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0

## 2.4 Cleaning Type

In [637]:
#TYPE
nat_count_type = cleaned_data['Type'].isna().sum()
uniq_val_type = cleaned_data['Type'].unique()
num_uniq_type = cleaned_data['Type'].nunique()
print(nat_count_type, uniq_val_type, num_uniq_type)

3 ['Boating' 'Unprovoked' 'Invalid' 'Provoked' 'Questionable' 'Sea Disaster'
 nan 'Boat' 'Boatomg'] 8

In [638]:
# 1) Removing spaces at the beginning and the end of the word
cleaned_data['Type'] = cleaned_data['Type'].str.strip()

# 2) Converting all values to lower case
cleaned_data['Type'] = cleaned_data['Type'].str.lower()

# 3) Grouping the values by specified categories
cleaned_data['Type'] = cleaned_data['Type'].replace({
    r'.*boat.*': 'boating',  # Including all values that have "boat" anywhere in the string
    'invalid': 'invalid',
    'provoked': 'provoked',
    'questionable': 'invalid',
    'unprovoked': 'unprovoked',
    'sea disaster': 'sea disaster'
}, regex=True)

cleaned_data['Type'] = cleaned_data['Type'].str.capitalize()
cleaned_data.head(3)

,Case_Number,Date,Year,Extracted_Month,Type,Country,Area,Location,Activity,Name,...,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,pdf,href_formula,href,original_order
0,2018.06.25,25-Jun-2018,2018,06,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018,06,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,...,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018,06,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,...,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0

## 2.5 Cleaning Country

In [639]:
#AREA
nat_count_area = cleaned_data['Area'].isna().sum()
num_uniq_area = cleaned_data['Area'].nunique()
print(nat_count_area, num_uniq_area)

313 719

In [640]:
#COUNTRY
nat_count_country = cleaned_data['Country'].isna().sum()
uniq_val_country = cleaned_data['Country'].unique()
num_uniq_country = cleaned_data['Country'].nunique()
print(nat_count_country, uniq_val_country, num_uniq_country)

24 ['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, British overseas territory'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'Fiji' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA'
 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA'
 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA'
 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'ARGENTINA'
 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'IRELAND' 'KUWAIT' 'YEMEN ' 'REUNION ISLAND'
 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS'] 178

In [644]:
# Step 1: Replace NaN values with 'Unknown'
cleaned_data['Country'] = cleaned_data['Country'].fillna('Unknown')

# Step 2: Extract everything before "/"
cleaned_data['Country'] = cleaned_data['Country'].str.split('/').str[0]

# Step 3: Trim spaces, remove "?", and capitalize
cleaned_data['Country'] = cleaned_data['Country'].str.strip().str.replace('?', '').str.lower()

In [647]:
uniq_val_country = cleaned_data['Country'].unique()
uniq_val_country

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'honduras', 'venezuela',
       'sri lanka', 'uruguay', 'india', 'micronesia', 'caribbean sea',
       'okinawa', 'tanzania', 'marshall islands', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', 'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'north sea', 'nicaragua',
       'maldive islands', 'american samoa', 'andaman', 'gabon', 'mayotte',
       'the balkans', 'argentina', 'martinique', 'indian ocean',
       'guatemala', 'netherlands antilles', 'northern mariana islands',
       'java', 'central pacific', 'southwest pacific ocean',
       'bay of bengal', 'mid-pacifc ocean', 'slovenia', 'curacao',
       'iceland', 'barbados', 'monaco', 'guyana', 'haiti', 'san domingo',
       'ireland', 'kuwait', 'reunion island', 'falkland islands', 'crete',
       'cyprus'], dtype=object)

In [648]:
from fuzzywuzzy import process
import pycountry

def match_country(country):
    # Get a list of all country names from pycountry
    country_names = [c.name for c in pycountry.countries]
    
    # Find the closest match to the input country name
    matched_country = process.extractOne(country, country_names, score_cutoff=80)  # Adjust the score_cutoff as needed
    
    # Return the matched country name
    return matched_country[0] if matched_country else country

# Apply the matching function to the 'Country' column
cleaned_data['Country'] = cleaned_data['Country'].apply(match_country)

In [649]:
cleaned_data.head(3)

,Case_Number,Date,Year,Extracted_Month,Type,Country,Area,Location,Activity,Name,...,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,pdf,href_formula,href,original_order
0,2018.06.25,25-Jun-2018,2018,06,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018,06,Unprovoked,usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,...,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018,06,Invalid,usa,Hawaii,"Habush, Oahu",Surfing,John Denges,...,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0

## 2.6 Cleaning Activity

In [650]:
#ACTIVITY
nat_count_activity = cleaned_data['Activity'].isna().sum()
uniq_val_activity = cleaned_data['Activity'].unique()
num_uniq_activity = cleaned_data['Activity'].nunique()
print(nat_count_activity, uniq_val_activity, num_uniq_activity)

435 ['Paddling' 'Standing' 'Surfing' ... 'Hunting seashells' ' '
 'Standing, gathering oysters'] 1325

In [698]:
# Step 1: Fill NaN values
cleaned_data['Activity'] = cleaned_data['Activity'].fillna('Unknown')

# Step 2: Extract string before "/"
cleaned_data['Activity'] = cleaned_data['Activity'].apply(lambda x: x.split('/')[0] if isinstance(x, str) else x)

# Step 3: Standardize text
cleaned_data['Activity'] = cleaned_data['Activity'].str.lower().str.strip()

# Step 4: Group activities
activity_mapping = {
    'surf|boarding|paddle': 'surfing',
    'swimming': 'swimming',
    'fishing': 'fishing',
    'diving': 'diving',
    'boat|sail': 'sailing',
}
for key, value in activity_mapping.items():
    cleaned_data['Activity'] = np.where(cleaned_data['Activity'].str.contains(key), value, cleaned_data['Activity'])

# Grouping for bathing-related activities
bathing_keywords = ['bathing', 'standing', 'walking', 'wading','splashing','treading water', 'floating','jump', 'dangling','playing']
cleaned_data['Activity'] = np.where(cleaned_data['Activity'].str.contains('|'.join(bathing_keywords)), 'bathing', cleaned_data['Activity'])

# Displaying a sample of the dataframe to verify the changes
cleaned_data[['Activity']].head(3)

   Activity
0  paddling
1   bathing
2   surfing

In [700]:
# Contar la frecuencia de cada valor en la columna 'Activity'
value_counts = cleaned_data['Activity'].value_counts()

# Mostrar los valores con más elementos únicos (los 5 primeros en este caso)
top_values_with_counts = value_counts.head(20)
top_values_with_counts

Activity
surfing                    1393
fishing                    1041
swimming                    948
bathing                     517
diving                      457
unknown                     438
snorkeling                   88
sailing                      79
kayaking                     40
sea disaster                 13
rowing                       12
canoeing                     11
fell overboard                9
murder                        4
tagging sharks                4
lifesaving drill              4
air disaster                  4
shipwreck                     4
feeding sharks                4
escaping from alacatraz       3
Name: count, dtype: int64

In [ ]:
# Step 1: Fill NaN values
df_reordered['Activity'] = df_reordered['Activity'].fillna('Unknown')

# Step 2: Extract string before "/"
df_reordered['Activity'] = df_reordered['Activity'].apply(lambda x: x.split('/')[0] if isinstance(x, str) else x)

# Step 3: Standardize text
df_reordered['Activity'] = df_reordered['Activity'].str.lower().str.strip()

# Step 4: Group activities
activity_mapping = {
    'surf': 'surfing',
    'swimming': 'swimming',
    'fishing': 'fishing',
    'diving': 'diving',
}
for key, value in activity_mapping.items():
    df_reordered['Activity'] = np.where(df_reordered['Activity'].str.contains(key), value, df_reordered['Activity'])

# Grouping for bathing-related activities
bathing_keywords = ['bathing', 'standing', 'walking', 'wading']
df_reordered['Activity'] = np.where(df_reordered['Activity'].str.contains('|'.join(bathing_keywords)), 'bathing', df_reordered['Activity'])

# Displaying a sample of the dataframe to verify the changes
df_reordered[['Activity']].head()

In [ ]:
#SEX
nat_count_sex = cleaned_data['Sex_'].isna().sum()
uniq_val_sex = cleaned_data['Sex_'].unique()
num_uniq_sex = cleaned_data['Sex_'].nunique()
print(nat_count_sex, uniq_val_sex, num_uniq_sex)

In [ ]:
#FATAL
nat_count_fatal = cleaned_data['Fatal'].isna().sum()
uniq_val_fatal = cleaned_data['Fatal'].unique()
num_uniq_fatal = cleaned_data['Fatal'].nunique()
print(nat_count_fatal, uniq_val_fatal, num_uniq_fatal)

In [ ]:
# Define the values to be categorized as 'No', 'Yes', and 'Unknown'
values_no = ['N', ' N', 'N ']
values_yes = ['Y', 'y']

# Apply the categorizations using Pandas
cleaned_data['Fatal'] = cleaned_data['Fatal'].apply(lambda x: 'Non-Fatal' if x in values_no else ('Fatal' if x in values_yes else 'Unknown'))

# Display the unique values in the 'Fatal (Y/N)' column after categorization
fatal_values = cleaned_data['Fatal'].unique()
fatal_values

In [ ]:
#cleaned_data = cleaned_data.rename(columns= {'Fatal(Y/N)':'Fatal'})