In [128]:
import pandas as pd
import numpy as np

In [144]:
def get_data():
    
    file_path = '/Users/mairagutierrez/Documents/Ironhack/PROJECTS/project--I/data/attacks.csv'
    # Try reading the file with a different encoding
    data = pd.read_csv(file_path, encoding='latin1')

    return data

In [145]:
data = get_data()
# data

In [132]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [146]:
def inspect_missing_values(data):

    missing_values = data.isnull().sum()
    missing_percent = (missing_values /len(data))*100
    missing_data = pd.DataFrame({"Total values missing": missing_values, "Percentage": missing_percent})
    missing_data = missing_data[missing_data["Total values missing"] > 0].sort_values(by = "Total values missing", ascending = False)
    
    return missing_data

missing_data = inspect_missing_values(data)
missing_data

                        Total values missing  Percentage
Unnamed: 22                            25722   99.996112
Unnamed: 23                            25721   99.992225
Time                                   22775   88.539439
Species                                22259   86.533453
Age                                    22252   86.506240
Sex                                    19986   77.697003
Activity                               19965   77.615364
Location                               19961   77.599813
Fatal (Y/N)                            19960   77.595926
Area                                   19876   77.269370
Name                                   19631   76.316915
Country                                19471   75.694903
Injury                                 19449   75.609377
Investigator or Source                 19438   75.566614
Type                                   19425   75.516075
Year                                   19423   75.508300
href formula                           19422   75.504412
Date                                   19421   75.500525
pdf                                    19421   75.500525
href                                   19421   75.500525
Case Number.1                          19421   75.500525
Case Number.2                          19421   75.500525
original order                         19414   75.473312
Case Number                            17021   66.170353

In [150]:
def clean_data(data):
    
    #dropping columns with 99% missing values
    cleaned_data = data.drop(columns = ['Unnamed: 22', 'Unnamed: 23'])
    
    #Reeplacing cells with "xx" values in 'Case Number' column with NaN
    cleaned_data['Case Number'] = cleaned_data['Case Number'].replace(["xx", '0'],np.nan)
    
    # TODO: Maira
    cleaned_data = cleaned_data.dropna(how="all")
    
    return cleaned_data

cleaned_data = clean_data(data)
cleaned_data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0